/* Background 1 color: #7e767e;
   Background 2 color: #323432;
   Vid.io Text Color: #6666ff;
   Font-Family: Varela Round;
*/

body {

  background-color: #323432;
  Font-Family: Optima;

}

h1 {

  color: #6666ff;
  font-family: Varela Round, serif;
  font-weight: bold;
  text-align: center;
  font-size: 400%

}


h2 {
  
  color: white;
  font-family: Varela Round;
  text-align: center;
  font-size: 120%;

}

#central {

  color: white;
  font-family: Varela Round;

  background-color: #5a5c5c;

}

.container {

  width: 90%;
  height: auto;
  border 15px;
  border-color: #6666ff;
  border-style: solid;

  padding-left: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;

  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;

}

#sourceClips{

	background-color: #a6a6a6;


	width: 50%;
	height: 90px;
	border: 2px solid black

}

#timeline{

	background-color: #a6a6a6;	

	width: 90%;
	height: 80px;
	border: 2px solid black;
	overflow-x:scroll;
	white-space: nowrap;
	float: left;

}

#div2{

	

}

#emptyCell {

	

}

#segment {

	

}

p {

  color: white;
  font-family: Varela Round;
  text-align: center;

  padding-bottom: 5%;

}